/* Estilos gerais para o corpo da página */
body {
    background-color: rgb(54, 54, 54);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: white;
}

/* Estilos para o título principal */
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

/* Estilos para a lista */
ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para cada item da lista */
ul li {
    background-color: #666;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

/* Efeito de escala ao passar o mouse nos itens da lista */
ul li:hover {
    transform: scale(1.05);
}

/* Estilos para os links dentro dos itens da lista */
ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Alterar a opacidade dos links ao passar o mouse */
ul li a:hover {
    opacity: 0.1;
}
