body {
    background-color: rgb(54, 54, 54);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

ul li {
    background-color: #666;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

ul li:hover {
    transform: scale(1.05);
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li a:hover {
    opacity: 0.1;
}
